.canvas {
	position: relative;
	height: 100vh;
	width: 50%;
	background-color: rgb(240,240,240);
	display: inline-block;
	vertical-align: top;
}
.character {
	width: 10px;
	height: 10px;
	position: absolute;
}

.player {
	background-color: blue;
}

.enemy {
	background-color: red;
}