body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: #FFF;
	background: #333;
}
.row {
	width: 100%
}
.left-side {
	position: relative;
	height: 660px;
	width: 640px;
	display: inline-block;
	vertical-align: top;
}
.canvas {
	background-color: rgb(240,240,240);
	position: relative;
	min-height: 94%;
}
.game-info {
	background-color: #1c1817;
	position: relative;
	height: 6%;
}
.game-score {
	background-color: rgba(29, 31, 107, .45);
	position: absolute;
	top: 0;
	right: 0;
	width: 30%;
	height: 100%;
	line-height: 100%;
	text-align: center;
	color: #fff;
	vertical-align: middle;
}
.game-score small {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.5em;
	display: block;
	color: rgba(255,255,255,.6);
}
.game-score i {
	font-size: 1.5em;
	vertical-align: middle;
	margin: .3em 1.5em .3em .3em;
	color: rgba(255,255,255,.4);
}
.score, .time {
	font-family: 'Patua One', cursive;
	display: inline-block;
	width: 30%;
	vertical-align: middle;
	margin-top: -.2em;
	color: rgba(255,255,255,.8);
}
.right-side {
	display: inline-block;
	vertical-align: top;
	height: 660px;
	width: calc(100% - 640px);
}
button {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding: .25em 1em;
	font-size: .75em;
	border: none;
}
.game-buttons {
	background-color: #1c1817;
	position: relative;
	height: 6%;
}
.game-buttons div {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
}
.game-buttons button {
	background-color: rgba(29, 31, 107, 1);
	color: rgba(255,255,255,.6);
	cursor: pointer;
	height: 100%;
}
.game-buttons button:hover {
	background-color: rgba(29, 31, 107, .7);
	color: rgba(255,255,255,.9);
}
.game-buttons button i {
	font-size: 1.5em;
	vertical-align: middle;
	margin-right: .5em;
}
.left-side h1 {
	margin: 0;
	font: normal 1em 'Patua One', cursive;
	color: #888;
	line-height: 2.25em;
	padding-left: .5em;
}
.left-side h1 span {
	color: #bbb;
	font-size: 1.5em;
	vertical-align: middle;
	margin-right: .25em;
}
.CodeMirror {
	height: 94%;
}

.doc b {
	color: #BFB
}

[data-test] {
	color: #333;
	background: #BBB;
	margin-bottom: 1em;
	padding: 1em;
	cursor: pointer;
}
[data-test]:hover {
	background: #FFF;
}
[data-test].selected {
	background: #BFB;
}
